In [1]:
import qif
import datasets

In [2]:
adult = datasets.load_data_adult()
german = datasets.load_data_german()
breast_w = datasets.load_data_breastw()

In [3]:
bayes_leakage = qif.BayesLeakage(adult)

In [4]:
# parametros default: vulnerability_type = 'average' e leakage_type = 'multiplicative'
bayes_leakage.compute_flows(x='age', y='target')

(0.92955053245874, 0.9999999999999994)

In [5]:
bayes_leakage.compute_flows(x='age', y='target', vulnerability_type='maximum')

(0.9159392821376754, -0.0)

In [6]:
bayes_leakage.compute_flows(x='age', y='target', leakage_type='additive')

(0.36207022834778435, 2.220446049250313e-16)

In [7]:
bayes_leakage.compute_flows(x='age', y='target', vulnerability_type='maximum', leakage_type='additive')

(0.43202432003712765, 0.4108961235175002)

In [15]:
bayes_leakage = qif.BayesLeakage(german)

In [19]:
bayes_leakage.compute_flows(x='age', y='target')

(1.1372549019607843, 1.0057142857142864)

In [11]:
german

,status_existing_checking_account,duration,credit_history,purpose,credit_amount,savings,present_employment,installment_rate,sex,debtors,...,age,installment_plans,housing,number_existing_credits,job,number_of_guarantors,phone,foreign_worker,target,sex_norm
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,67,A143,A152,2,A173,1,A192,A201,1,male
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,22,A143,A152,1,A173,1,A191,A201,2,female
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,49,A143,A152,1,A172,2,A191,A201,1,male
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,45,A143,A153,1,A173,2,A191,A201,1,male
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,53,A143,A153,2,A173,2,A191,A201,2,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736,A61,A74,3,A92,A101,...,31,A143,A152,1,A172,1,A191,A201,1,female
996,A11,30,A32,A41,3857,A61,A73,4,A91,A101,...,40,A143,A152,1,A174,1,A192,A201,1,male
997,A14,12,A32,A43,804,A61,A75,4,A93,A101,...,38,A143,A152,1,A173,1,A191,A201,1,male
998,A11,45,A32,A43,1845,A61,A73,4,A93,A101,...,23,A143,A153,1,A173,1,A192,A201,2,male
999,A12,45,A34,A41,4576,A62,A71,3,A93,A101,...,27,A143,A152,1,A173,1,A191,A201,1,male

In [14]:
bayes_leakage.data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,target,race_norm
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,White
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,White
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,White
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Other
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16275,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K,White
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K,White
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K,White
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K,Other
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K,White